table {
  margin: 40px auto;
  border-collapse: collapse;
}
td {
  width: 250px;
  height: 250px;
  text-align: center;
  vertical-align: middle;
}

.square4 {
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.square4 div {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px;
}
.square4 .arribaizq {
  border-color: darkblue transparent transparent transparent;
  
}
.square4 .arribader {
  border-color: transparent yellow transparent transparent;
}
.square4 .abajoizq {
  border-color: transparent transparent green transparent;
  
}
.square4 .abajoder {
  border-color: transparent transparent transparent red;
  
}

.cuadrado-big {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.cuadrado-big div {
  position: absolute;
  border-style: solid;
  border-width: 80px;

}
.cuadrado-big .top {
  border-color: darkblue transparent transparent transparent;
  
}
.cuadrado-big .left {
  border-color: transparent transparent transparent transparent;
}
.cuadrado-big .right {
  border-color: transparent transparent green transparent;
  
}
.cuadrado-big .bottom {
  border-color: transparent transparent transparent red;
  
}


.triangulo {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 100px 100px;
  border-color: blue transparent transparent transparent;
  margin: auto;
}

.circulo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #3aaa35;
  margin: auto;
}

.circle-cut {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #3aaa35;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.circle-cut::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  height: 100%;
  background: white;
}

.semi-bottom {
  width: 150px;
  height: 75px;
  background: #3aaa35;
  border-radius: 0 0 75px 75px;
  margin: auto;
}

.icono{
            width: 100px;
            height: 100px;
            margin-left: 790px;
        }